body {
    margin: 0;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    /* text-align: center; */
}

.menu>li {
    padding: 20px;
    cursor: pointer;
}

.menu>li:hover {
    background-color: lightgreen;
}



h1 {
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "myfont";
    src: url("image/AsWinterBegins.otf") format("opentype");
    /* font-display: swap; */
    /*ダウンロード状況に応じてフォントの表示を変える
    (「swap」はWebフォントが読み込まれるまでフォールバックフォントで表示し、読み込まれた時点で置き換えます。)*/
}

.h2 {
    font-size: 50px;
    font-family: "myfont", sans-serif;
}