* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(../img/gara.avif);
    background-size: cover;
    background-position: center center;
    font-family: "Kaisei Decol", serif;
    letter-spacing: 0.1em;
}
/* ーーーーーーーーーヘッダーーーーーーーーー */
header {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/hart.avif);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    color: white;
}
.font-ugoku {
    text-align: center;
}
/* ーーーーーーーヘッダーメニューーーーーーーー */
.menu-book {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    
}
.menu-item {
    padding: 10px;
}


/* ーーーーーーーーーーーーーメインーーーーーーーーーーー */
main {
    padding: 30px;
    text-align: center;
    color: #602d1d;
}
/* ーーーーーーーボタンーーーーーーー */
.botan {
    background-color: #fff0f5;
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    cursor: pointer;
    
}
.botan:hover {
    background-color: #602d1d;
    color: #fff0f5;
    transform: translateY(10px);
    transition: all 0.4s;
}

/* --------------画像---------------- */
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    border: 3px dotted lightcoral;
}

/* ------------フッターーーーーーーーーーーー */
footer {
    background-color: #602d1d;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
}

/* ーーーーーーーーー写真ーーーーーーーーーーー */
.jouhou {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 20px;
}