* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(../img/gara.avif);
    background-size: cover;
    background-position: center center;
}
header {
    background-image: url(../img/hart.avif);
    background-size: cover;
    background-position: center center;
    
}



/* --------------画像---------------- */
img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10%;
    border: 2px dotted lightcoral;
}

/* ------------フッターーーーーーーーーーーー */
footer {
    background-color: #602d1d;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
}