@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Zen Old Mincho", serif;
}

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: #111;
    max-width: 1440px;
    /* height: 5000px; */
    margin: 0 auto;
    position: relative;
}

.head img {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
}

.kv {
    max-width: 1440px;
}

.kvpic img {
    width: 100%;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 70px;
    font-family: "Zen Old Mincho", serif;
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: "Zen Old Mincho", serif;
}

/* Introduction
--------------------------------------------------------*/

.text1 img {
    width: 300px;
    height: 300px;
    margin: auto 0;
}

.text1 {
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.text1 h2 {
    margin-bottom: 20px;
}

.text1 p {
    color: #fff;
    width: 750px;
    margin-bottom: 5px;
    line-height: 2rem;
}


/* ALBUM 
--------------------------------------------------------*/

.album {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.albums img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    cursor: pointer;
}

.albums p {
    color: #fff;
    font-family: "Zen Old Mincho", serif;
    text-align: center;
}



/* detail 
--------------------------------------------------------*/

.detail {
    display: block;
    width: 100%;
    min-height: 500px;
    margin-top: 50px;
}

.detail>div {
    display: none;
}

.detail img {
    width: 400px;
    height: 400px;
    margin: auto 0;
}

.detail p {
    color: #fff;
    margin: 10px;
}

.detail li::marker {
    color: #fff;
}

.detail ol {
    width: fit-content;
    max-height: 1000px;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

.ww {
    width: 400px;
    margin: auto 20px;

}

.t {
    text-align: center;
}

.title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.ww-detail,
.rr-detail,
.on-detail,
.bunka-detail,
.otogi-detail,
.smile-detail,
.kaizin-detail,
.ub-detail {
    display: none;
    flex-direction: row;
    gap: 50px;
    width: 1000px;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
}

/* 表示時にflexを適用 */
.ww-detail[style*="block"],
.rr-detail[style*="block"],
.on-detail[style*="block"],
.bunka-detail[style*="block"],
.otogi-detail[style*="block"],
.smile-detail[style*="block"],
.kaizin-detail[style*="block"],
.ub-detail[style*="block"] {
    display: flex !important;
    flex-direction: row;
}






/* Album.html
--------------------------------------------- */
.a img {
    width: 400px;
    height: 400px;
    cursor: pointer;
}

.a p{
    color: #fff;
}

.a {
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
}