body{
background-color: #FFF0F5;;
}
header{
    height: 800px;
}
.line{
    width: 32px;
    height: 4px;
    background-color: #666;
    display: block;
}
.ham-icon{
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.ham-btn{
    background-color: transparent;
    border: none;
    padding: 20px;
    position: relative;
    z-index: 1;
}

body{
    margin: 0 ;
}

    
    .box{
        position: fixed;
    top: 0;
    background-color: #fff;
    width: 1800px;
    height: 70px;
}
