* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;

}

header {
    width: 100%;
    height: 100vh;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    padding: 30px;
    margin-top: 40px;
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 70px;
}