/* ヘッダー
--------------------------------- */
header {
    background-color: #1d2087;
    height: 100px;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

/* 表紙
--------------------------------- */
.hyosi {
    text-align: center;
}

.hyosi img {
    border: 0.5px solid black;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
}

.hyosi.p {
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 0.5em;
    margin-bottom: 200px;
}

/* 人物紹介
--------------------------------- */
.syokai {
    text-align: center;
    margin-bottom: 200px;
}

/* リスト
--------------------------------- */
ul {
    list-style-type: none;
    padding: 0;
}

/* フッター
--------------------------------- */
footer {
    background-color: #1d2087;
    height: 100px;
}

h5 {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 40px;
}