body{
    margin: 0;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-image: url(./imeges/header.kusa.png);
    height: 300px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

.han-btn{
    display: block;
    padding: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.han-icon{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.han-icon .line{
    border-radius: 50px;
    width: 80px;
    height: 7px;
    display:block;
    background-color: white;
}

.mein-header{
    /* background-image: url(./imeges/mein_gazou.png); */
    background-repeat: no-repeat;
    background-color:#98CFD7;
    top: 200px;
    width: 100%;
    height: 100vh;
}
h1{
    margin: 76px 0 0 0;
    text-align: center;
    font-size: 65px;
    color: white;
}
.mein-visual{
    display: flex;
    justify-content:space-between;
    flex-direction:row; 
    padding: 80px 10%;
}

.btn {
    display: inline-block;
    background: #6fa84f;
    color: #fff;
    font-size: 30px;
    border-radius: 50px;
    padding: 10px 60px 10px 60px;
    text-decoration: none;
    margin-top: 80px;
  }
.mein-1{
    margin: 0 auto;
}