body{
    margin: 0;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
      
}

header{
    background-image: url(./imeges/header.kusa.png);
    height: 300px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat; 
}

.han-btn{
    display: block;
    padding: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.han-icon{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.han-icon .line{
    border-radius: 50px;
    width: 80px;
    height: 7px;
    display: block;
    background-color: white;
}

.mein-header{
    background-image: url(./imeges/mein_gazou.png);
    background-repeat: no-repeat;
    background-color:#98CFD7;
    width: 100%;
    height: 100vh;
}
h1{
    text-align: center;
    font-size: 65px;
    color: white;

}