html {
    scroll-behavior: smooth;

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

header {
    position: r1elative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #ffca24;

    img {
        width: 160px;
        object-fit: cover;
        height: fit-content;
    }
}

main {
    width: 100%;
    height: 300vh; 
    position: relative;
    background-color: #ffca24;

    nav {
        position: relative;
        z-index: 99;
        position: sticky;
        width: 100%;
        top: 20px;
        right: 20px;
        /* background-color: red; */

        a {
            position: absolute;
            right: 20px;
            top: 0;
            transition: all 0.3s ease-in-out;

            &:hover {
                scale: 1.2;
                transition: all 0.3s ease-in-out;
            }
            img {
                width: 90px;
                height: fit-content;
                object-fit: cover;
            }
        }
    }

    .hero {
        position: relative;
        width: 100%;
        height: fit-content;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
        object-fit: cover;
    }
    section.three {
        position: relative;
        width: 100%;
        height: 70vh;
        padding: 48px;
        background-image: url(images/ブロ背景.webp);

        img.otis {
            position: absolute;
            top: -60px;
            left: 10px;
        }

        .seiretu1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;

            img.TvTmoji {
                width: 40%;
            }

            img.TvTscreen {
                width: 60%;
            }
        }
    }
}