body{
    background-color: beige;
}
/* header */
.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.header-img{
    background-image: url(image/3952.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.header h1{
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    font-weight: bold;
    letter-spacing: .2em;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
.header p{
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    font-weight: bold;
    letter-spacing: .2em;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
/* section1 */
.section1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 60px;
}
.section1 li{
    border: 1px solid black;
    text-align: center;
    transition: .3s;
    background-color: #ffffff;
}
.section1 li:hover{
    transform: scale(1.2);
}

.section1 li h2{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: 10px;
}
.section1 li img{
    height: 50vh;
    padding: 10px;
}
/* section2 */
.section2 h2{
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 0;
}
.section2 h3{
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.link{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.link div{
    border: 1px solid black;
    flex: 1;
}
div a{
    text-decoration: none;
    display: block;
    transition: .3s;
}
div a:hover{
    transform: scale(1.2);
}
/* swiper */
.swiper{
    width: 100%;
    height: 300px;
}
.swiper img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

/* ハンバーガー
-------------------- */
.ham-btn{
    display: block;
    padding: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative; 
    z-index: 3; 
}
.ham-icon{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ham-icon .line{
    width: calc(32px);
    height: 4px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    display: block; 
    transform-origin: left center; 
    transition: 1s; 
}

.ham-icon.open .line.top { 
  transform: rotate(45deg);
}
.ham-icon.open .line.middle {
  opacity: 0; 
}
.ham-icon.open .line.bottom { 
  transform: rotate(-45deg); 
}

/* ナビ
-------------------- */
.drawer{
  position: fixed; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  background-color: rgba(0, 0, 0, .5); 
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2); 

  padding-top: 60px; 

  transform: translateX(-100%);
  transition: all 1s;
  z-index: 2; 
}
.drawer.open { 
  transform: translateX(0);
}
.drawer ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.drawer a {
  display: block; 
  padding: 12px 36px; 
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
  text-decoration: none; 
  transition: 0.3s; 
}
.drawer a:hover {
  background-color: #f0f0f0; 
}
/* 秋山
------------------- */

.akiyama-h1{
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.stage{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}
.akiyama-animation {
    animation: spin 3s linear 0s infinite;
    position: absolute;
    transform-origin: 50% 50%;
    top: 20px auto;
    left:50% auto;
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-60deg);}
    100%{transform: rotate(2160deg);}
}