body{
    background-color: beige;
}
/* header */
.header{
    background-image: url(image/3952.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.header h1{
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    font-weight: bold;
    letter-spacing: .2em;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
header p{
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    font-weight: bold;
    letter-spacing: .2em;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
/* section1 */
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 60px;
}
li{
    border: 1px solid black;
    text-align: center;
    transition: .3s;
    background-color: #ffffff;
}
li:hover{
    transform: scale(1.2);
}

li h2{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: 10px;
}
li img{
    height: 50vh;
    padding: 10px;
}
/* section2 */
.section2 h2{
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 0;
}
.section2 h3{
    color: #ffffff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.link{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.link div{
    border: 1px solid black;
    flex: 1;
}
div a{
    text-decoration: none;
    display: block;
    transition: .3s;
}
a:hover{
    transform: scale(1.2);
}
/* swiper */
.swiper{
    width: 100%;
    height: 300px;
}
.swiper img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}