*{
    margin: 0;
}
body{
    background-color: rgb(175, 11, 60);
}
header{
    display: flex;
    justify-content: center;
}
.txt1 img{
    width: 100%
}

.txt1{
    display: flex;
    justify-content: center;
    align-items: center;
}