body {
    margin: 0 auto;
}

header {
  border-bottom: solid black 1px;
}

header h1 {
   color: rgb(51, 51, 51);
   font-size: 80px;
   text-align: center;
}

header p {
    color: rgb(51, 51, 51);
    font-size: 30px;
    text-align: center;
}

main h2{
    color: rgb(51, 51, 51);
    font-size: 50px;
    text-align: center;
}

main p {
    color: rgb(51, 51, 51);
    font-size: 30px;
    text-align: center;
}