body {
    margin: 0 auto;
}

header {
  border-bottom: solid black 1px;
}

header h1 {
   color: rgb(51, 51, 51);
   font-size: 100px;
   text-align: center;
   margin-top: 200px
}

header p {
    color: rgb(51, 51, 51);
    font-size: 20px;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 100px;
}

ul{
    text-align: center;
}

li{
    list-style: none;
}

main h2{
    color: rgb(51, 51, 51);
    font-size: 50px;
    text-align: center;
    margin-top: 300px
}

main h3{
    color: rgb(51, 51, 51);
    font-size: 30px;
    text-align: center;
}

main p {
    color: rgb(51, 51, 51);
    font-size: 20px;
    text-align: center;
    margin-top: -25px;
}