

h1 {
    font-family: "Nico Moji";
    font-size: 60px;
    color: #B5EAFF;
    text-shadow: 10px;
    text-align: center;
}

body {
    background-image: url(images/_\ \(56\).jpeg);
    width: 100%;
    height: 100%;
}

.img{
    background-image: url(images/_\ \(56\).jpeg);
    width: 100%;
    height: 100%;
}


.img1 {
  max-width: 1210px;
  margin: auto;
}

.img1 img{
   width: 100%;
}