*{
    background-color: #000;
}
.logo{
    width: 100px;
    height: 50px;
}
.list{
    display: flex;
    gap: 38px;
    list-style-type: none;
    right: 0;
    top: 85px;
}
.title{
    position: relative;
    color: #fff;
}
.infolist{
    list-style-type: none;
}
.joho{
    color: #fff;
}