* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0C0C0C;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu,.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    /* 枠線を設定 */
    border-bottom: 3px solid #6e0000;
    padding: 10px 20px;
    height: 60px; /* ヘッダーの高さ */
    position: fixed; /* ページ上部に固定 */
    width: 100%;
    z-index: 1000;
}

.rogo img {
    height: 40px; /* ロゴサイズ */
}