* {
    padding: 0;
    margin: 0;
    color: #49586A;
}

/* header
---------------------- */
header {
    height: 920px;
    background: url(img/back_flower.png) no-repeat center;
    position: relative;
}

h1 {
    padding: 60px 0 0 0;
    font-size: 150px;
    text-align: center;
    
    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
}

.hed-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 46px;

    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
}

ul {
    list-style: none;
}

li {
    font-size: 22px;
    border-bottom: 1px solid #49586A;
}

p {
    font-size: 20px;
}

.main_visual {
    transform: rotate(-2deg);
    position: absolute;
    bottom: 114px;
    left: 372px;
    width: 695px;
}

h2 {
    font-size: 64px;
    position: absolute;
    bottom: 104px;
    left: 252px;

    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
}