
/* header
---------------------- */
header {
    height: 100vh;
    min-height: 920px;
    background: url(img/back_flower.png) no-repeat center;
    position: relative;
}

h1 {
    font-size: clamp(64px, 10vw, 150px);
    text-align: center;

    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
}


.header-inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    height: 100%;
}


.hed-item {    
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
}

.hed-item ul li{
    margin-bottom: 8px;
}

.hed-item ul {
    list-style: none;
}

.hed-item li {
    font-size: 22px;
    border-bottom: 1px solid #49586A;
}

.hed-item p {
    font-size: 20px;
}




.main_visual {
    position: relative;
    width: 48%;
    max-width: 695px;
  transform: rotate(-2deg) translateY(-20px);
}

.main_visual img {
    width: 100%;
    height: auto;
}


.hero h2 {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);

    font-size: clamp(32px, 5vw, 64px);
    white-space: nowrap;
    text-align: center;

    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}


