* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #006341;
    overflow: auto;
}

/* ヘッダー */

.top {
    width: 100%;
    height: 90px;
    background-color: #006341;
    display: flex;
    position: relative;
}

.top img {
    width: 10vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
    position: absolute;
    top: 25px;
    right: 100px;
}

.nav li {
    font-size: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-family: "Inknut Antiqua", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/* キービジュアル */

.keyvisual {
    width: 100%;
    height: 100vh;
    background-image: url(img/47311964e9d711b1cb396bc194587cbb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.keyvisual h1 {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-size: 95px;
    letter-spacing: 3px;
    color: #fff;
    position: absolute;
    bottom: 25px;
    right: 100px;
}

/* ミセスの紹介 */

#shokai {
    width: 1300px;
    height: 450px;
    background-color: #01442D;
    margin: 120px auto;
}

#shokai h2 {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-size: 40px;
    color: #FFD700;
    text-align: center;
    padding: 40px;
}

#shokai p {
    color: #fff;
    text-align: center;
    width: 1000px;
    height: 80px;
    margin: 0 auto;
}

/* 最新情報 */

#joho {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px;
}

#joho h2 {
    font-family: "Inknut Antiqua", sans-serif;
    font-size: 36px;
    color: #69E65B;
    text-align: center;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 35px;
    list-style-type: none;
}

.news li {
    width: 1000px;
    height: 90px;
    background-color: #59AA37;
    border-radius: 15px;
    color: #fff;
    position: relative;
}

.news h3 {
    font-size: 22px;
    position: absolute;
    top: 20px;
    left: 35px;
}

.news p {
    font-size: 17px;
    position: absolute;
    top: 52px;
    left: 35px;
}

/* メンバー写真 */

#member {
    margin: 250px;
}

#member h2 {
    font-family: "Inknut Antiqua", sans-serif;
    font-size: 36px;
    color: #69E65B;
    text-align: center;
    margin: 80px;
}

.mrs {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.Fujisawa {
    width: 500px;
    height: 600px;
    border-radius: 15px;
    background-image: url(img/6c19ff5c11492380695db8529bdbe018.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.Fujisawa p {
    color: #FFEE59;
    font-family: "Shippori Mincho", sans-serif;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    bottom: 12px;
    left: 115px;
}

.omori {
    width: 500px;
    height: 600px;
    border-radius: 15px;
    background-image: url(img/8d7ffc89abe24ac41aeb55cba8e8eab8.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.omori p {
    color: #FF4E4E;
    font-family: "Shippori Mincho", sans-serif;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    bottom: 12px;
    left: 130px;
}

.wakai {
    width: 500px;
    height: 600px;
    border-radius: 15px;
    background-image: url(img/c15133e74eecd7353a61418e608463a4.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.wakai p {
    color: #6B41FF;
    font-family: "Shippori Mincho", sans-serif;
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    bottom: 12px;
    left: 145px;
}

/* 動画紹介 */

#Video h2 {
    font-family: "Inknut Antiqua", sans-serif;
    font-size: 36px;
    color: #69E65B;
    text-align: center;
    margin: 80px;
}