* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 30px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;
    padding: 20px;
}

.nav li {
    font-size: 20px;
}

.keyvisual {
    width: 100%;
    height: 100vh;
    background-image: url(img/bride01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
