.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.header__inner{
  max-width: 1152px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__logo{
  flex: none;
  width: auto;
  height: 35px;
}
.header__navgroup{
  margin-left: auto;
  display: flex;
  flex: none;
}
.header__navgroup > * + *{
  margin-left: 60px;
}
.header__navitem{
  font-size: 16px;
}

.kv{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-image: url(images/01KV.jpeg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kv h2{
  font-size: 40px;
}

.btn1 {
  background-color: #f5f5f5;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn1:hover {
  background-color: #f3f1e7;
  transform: translateY(-2px);
}

.btn1:active {
  transform: translateY(0px);
}

.news{
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(6,1fr);
    margin-bottom: 100px;
}









